#Windows Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk


#Other files should Not be On Project
*.exe
*.dll
*.obj


#CodeIgniter
index.php
system/*
/application/**/**
!/application/**/



!/application/views/themes/**/**
!/application/config/style.php
!/application/libraries/**